<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/accountDetails.css">
    </head>
    <body>
        <div class="container mt-3">
            <div class="container-fluid text-center bg-dark py-1 header">
                <p class="text-warning heading p-0 m-0">ADMIN DASHBOARD</p>
            </div>
            <nav class="navbar navbar-expand-xl bg-dark navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/announcements">ANNOUNCEMENTS</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/admin/loanRequests">LOAN REQUESTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/pendingLoanPayments">PENDING LOAN PAYMENTS</a>
                        </li> 
                        <li class="nav-item active">
                            <a class="nav-link" href="/admin/viewAccountDetails">VIEW ACCOUNT DETAILS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/Admins">ADMINS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/destroySession">LOGOUT</a>
                        </li>          
                    </ul>
                </div>  
            </nav>
            <div class="container-fluid box">
                <div class="account-details-header">
                    VIEW ACCOUNT DETAILS:
                </div>
                <div class="account-details-box">
                    <div class="text">
                         Enter the account number of the user to view their details:
                    </div>
                    <div class="account-details">
                        <form action="/admin/showDetails" method="post">
                            <div class="form-group">
                               <label for="accountNumber">Account Number:</label>
                               <input type="text" class="form-control" placeholder="Enter Account Number" id="accountNumber" name="account" required>
                            </div>
                            <button type="submit" class="btn btn-success">View Details</button>
                          </form>
                    </div>
                    <br>
                    <% if(account) { %>
                        <div class="userInformationcontainer">
                            <table>
                                <tr>
                                    <th>Account Holder Name:</th>
                                    <td><%=account.accountHolder%></td>
                                </tr>
                                <tr>
                                    <th>Account Number:</th>
                                    <td><%=account.id%></td>
                                </tr>
                                <tr>
                                    <th>Account Type:</th>
                                    <td><%=account.accountType%></td>
                                </tr>
                                <tr>
                                    <th>Account Status:</th>
                                    <td><%=account.status%></td>
                                </tr>
                                <tr>
                                    <th>Account Balance:</th>
                                    <td>Rs <%=account.balance%></td>
                                </tr>
                                <tr>
                                    <th>Account Opening Date:</th>
                                    <td><%=account.createdAt.toDateString()%></td>
                                </tr>
                                <tr>
                                    <th>IFSC Code:</th>
                                    <td><%=account.ifscCode%></td>
                                </tr>
                                <tr>
                                    <th>Branch:</th>
                                    <td><%=account.branch%></td>
                                </tr>
                                <tr>
                                    <th>Loans Taken:</th>
                                    <td>
                                         <% for(loan of loans) { %>
                                            <% if(loan.approved) { %>
                                               <%=loan.loantype%>,
                                            <% } %>
                                        <% } %> 
                                    </td>
                                </tr>
                                <tr>
                                    <th>Outstanding Amount:</th>
                                    <td>Rs <%=amount%></td>
                                </tr>
                            </table>
                        </div>
                    <% } %>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>