<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/loans.css">
    </head>
    <body>
        <div class="container mt-3">
            <div class="container-fluid text-center bg-dark py-1 header">
                <p class="text-warning heading p-0 m-0">The Online Bank</p>
            </div>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/profile">MY ACCOUNT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/transferFunds">TRANSFER FUNDS</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/user/loans">LOANS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/notifications">NOTIFICATIONS</a>
                        </li> 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                SERVICES
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/user/services/depositFunds">Deposit Funds</a>
                                <a class="dropdown-item" href="/user/services/withdrawFunds">Withdraw Funds</a>
                                <a class="dropdown-item" href="/user/services/accountStatement">Account Statement</a>
                                <a class="dropdown-item" href="/user/services/accountSummary">Account Summary</a>
                                <a class="dropdown-item" href="/user/services/miniStatement">Mini Statement</a>
                            </div>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="/user/personalise">PERSONALISE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/signout">LOGOUT</a>
                        </li>          
                    </ul>
                </div>  
            </nav>
            <div class="container-fluid box">
                <% if(profileUser.loans) { %>
                    <div class="loans-header">
                        LOANS PENDING APPROVAL:
                    </div>
                    <div class="loans-box-desc">
                        <% for(loan of profileUser.loans) { %>
                            <div class="d-flex flex-column mb-4 flex-loans-box">
                                <div class="p-2 bg-info mb-1">Amount: Rs <%=loan.amount%></div>
                                <div class="p-2 bg-info mb-1">Loan Type: <%=loan.loantype%></div>
                             </div>
                        <% } %>
                    </div>
                <% } %>
                <div class="loans-header">
                    APPLY FOR A LOAN:
                </div>
                <div class="loans-box">
                    <% if(profileUser.account) { %>
                        <div class="loan-form">
                            <form action="/user/loans/apply" method="post">
                                 <div class="form-group">
                                     <label for="accountNo">Enter your Account Number:</label>
                                     <input type="text" class="form-control" id="accountNo" placeholder="Enter Account Number" name="account" required>
                                 </div>
                                 <div class="form-group">
                                    <input type="hidden" class="form-control" name="user" value="<%=user._id%>"required>
                                </div>
                                 <div class="form-group">
                                     <label for="pwd">Enter your Password:</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
                                 </div>
                                 <div class="form-group">
                                    <label for="amount">Enter Amount:</label>
                                    <input type="number" class="form-control" id="amount" placeholder="Enter amount" name="amount" required>
                                </div>
                                 <div class="form-group">
                                    <label for="sel1">Select Type of Loan</label>
                                    <select class="form-control" id="sel1" name="loantype" required>
                                      <option>Home Loan</option>
                                      <option>Car Loan</option>
                                      <option>Education Loan</option>
                                      <option>Personal Loan</option>
                                    </select>
                                  </div>
                                 <button type="submit" class="btn btn-primary">Apply</button>
                            </form>
                        </div>
                    <% } else {%>
                        <p>You can apply for loans after creating an account in the bank :)</p>
                    <% } %>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script>
            <% if(flash.success&&flash.success.length>0) { %>
                new Noty({
                theme:'relax',
                text:"<%=flash.success%>",
                type:'success',
                layout:'topRight',
                timeout:1500
                }).show();
            <% } %>
            <% if(flash.error&&flash.error.length>0) { %>
                new Noty({
                theme:'relax',
                text:"<%=flash.error%>",
                type:'error',
                layout:'topRight',
                timeout:1500
                }).show();
            <% } %>
        </script>
    </body>
</html>