<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/userProfile.css">
    </head>
    <body>
        <div class="container mt-3">
            <div class="container-fluid text-center bg-dark py-1 header">
                <p class="text-warning heading p-0 m-0">The Online Bank</p>
            </div>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/user/profile">MY ACCOUNT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/transferFunds">TRANSFER FUNDS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LOANS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">NOTIFICATIONS</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="/user/personalise">PERSONALISE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/signout">LOGOUT</a>
                        </li>          
                    </ul>
                </div>  
            </nav>
            <div class="container-fluid box">
                <!-- <%=locals.user.account%> -->
                <% if(locals.user&&!user.account) { %>
                <div class="create-account-header">
                    CREATE ACCOUNT:
                </div>
                <div class="create-account-box">
                    <p class="text">You don't have an account with the bank. To create an account Please Fill the Form below.</p>
                    <div class="account-opening-form">
                        <form action="/user/createAccount" method="post">
                            <div class="form-group">
                                <label for="account-holder-name">Account Holder Name:</label>
                                <input type="text" class="form-control" id="account-holder-name" placeholder="Enter Account Holder's Name" name="accountHolder" required>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender:</label>
                                <input type="text" class="form-control" id="gender" placeholder="Enter Gender" name="gender" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number:</label>
                                <input type="number" class="form-control" id="phone" placeholder="Enter phone Number" name="phone" required>
                            </div>
                            <div class="form-group">
                                <label for="address">Address:</label>
                                <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Address" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="aadhar">Aadhar Number:</label>
                                <input type="text" class="form-control" id="aadhar" placeholder="Enter Aadhar Number" name="aadhar" required>
                            </div>
                            <div class="form-group">
                                <label for="pan">PAN Card Number:</label>
                                <input type="text" class="form-control" id="pan" placeholder="Enter PAN Card Number" name="pan" required>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="user" value="<%=user._id%>" required>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="status" value="active" required>
                            </div>
                            <div class="form-group">
                                <label for="accountType">Account Type:</label>
                                <select class="form-control" id="accountType" name="accountType" required>
                                   <option>Savings</option>
                                   <option>Current</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">Create Account</button>
                          </form>
                    </div>
                </div>
                <% } else { %>
                     <div class="userInformationcontainer">
                              <table>
                                  <tr>
                                      <th>Account Holder Name:</th>
                                      <td><%=user.account.accountHolder%></td>
                                  </tr>
                                  <tr>
                                      <th>Account Number:</th>
                                      <td><%=user.account.id%></td>
                                  </tr>
                                  <tr>
                                       <th>Account Type:</th>
                                       <td><%=user.account.accountType%></td>
                                   </tr>
                                   <tr>
                                       <th>Account Status:</th>
                                       <td><%=user.account.status%></td>
                                   </tr>
                                   <tr>
                                        <th>Account Balance:</th>
                                        <td><%=user.account.balance%></td>
                                   </tr>
                                   <tr>
                                        <th>Account Opening Date:</th>
                                        <td><%=user.account.createdAt.toDateString()%></td>
                                   </tr>
                              </table>
                          </div>
                <% } %>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>