<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/accountStatement.css">
    </head>
    <body>
        <div class="container mt-3">
            <div class="container-fluid text-center bg-dark py-1 header">
                <p class="text-warning heading p-0 m-0">The Online Bank</p>
            </div>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/profile">MY ACCOUNT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/transferFunds">TRANSFER FUNDS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/loans">LOANS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/notifications">
                                NOTIFICATIONS
                                <%if(unreadNotifications){ %>
                                    <sup style="color:white"><%=unreadNotifications%></sup>
                                <% } %>
                            </a>
                        </li> 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                SERVICES
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/user/services/depositFunds">Deposit Funds</a>
                                <a class="dropdown-item" href="/user/services/withdrawFunds">Withdraw Funds</a>
                                <a class="dropdown-item" href="/user/services/payLoans">Pay Loans</a>
                                <a class="dropdown-item" href="/user/services/accountStatement">Account Statement</a>
                                <a class="dropdown-item" href="/user/services/accountSummary">Account Summary</a>
                                <a class="dropdown-item" href="/user/services/miniStatement">Mini Statement</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/personalise">PERSONALISE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/signout">LOGOUT</a>
                        </li>          
                    </ul>
                </div>  
            </nav>
            <div class="container-fluid box">
                <div class="account-statement-header">
                    ACCOUNT STATEMENT:
                </div>
                <div class="account-statement-box">
                    <table class="table table-striped table-responsive-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Account Number</th>
                                <th>Account Type</th>
                                <th>Branch</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white">
                                <td><%=account._id%></td>
                                <td><%=account.accountType%></td>
                                <td><%=account.branch%></td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <form action="/user/services/getaccountStatement" method="post">
                        <div class="form-group">
                            <label for="startDate">Start Date:</label>
                            <input type="date" class="form-control mb-2 mr-sm-2" id="startDate" name="startDate" required>
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date:</label>
                            <input type="date" class="form-control mb-2 mr-sm-2" id="endDate" name="endDate" required>
                        </div>
                        <button type="submit" class="btn btn-success">View Statements</button>
                    </form>
                    <br><br>
                    <table class="table table-striped table-responsive-sm">
                        <%if (transactions){ %>
                            <p class="text-black" style="font-weight:800;"><%=content%></p>
                            <thead class="thead-dark">
                                <tr>
                                    <th>Date</th>
                                    <th>Narration</th>
                                    <th>Mode</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <% for(transaction of transactions) { %>
                                <tbody>
                                    <tr class="bg-white">
                                        <td><%=transaction.createdAt.toDateString()%></td>
                                        <% if(transaction.mode=="CREDIT") {%>
                                            <td>DFT NO 66489</td>
                                        <% } %>
                                        <% if(transaction.mode=="DEBIT") {%>
                                            <td>DFT NO 54723</td>
                                        <% } %>
                                        <% if(transaction.mode=="TO TRANSFER") {%>
                                            <td>DFT NO 65896</td>
                                        <% } %>
                                        <% if(transaction.mode=="BY TRANSFER") {%>
                                            <td>DFT NO 23765</td>
                                        <% } %>
                                        <td><%=transaction.mode%></td>
                                        <td>Rs <%=(Math.round(transaction.balance * 100) / 100).toFixed(2)%></td>
                                    </tr>
                                </tbody>
                            <% } %>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>